/* navigation */
#navbar{
    flex-direction:column;
}
#navbar ul li a{
    font-size:1rem;
    padding:0px 7px;
    padding-bottom :8px;
}

/* home */
#home h1{
    font-size:58px;
}
#home{
height: 370px;
flex-direction:column;
padding: 3px 68px;
}
#home::before{
    height: 480px;
    
    }
    #home p{
        font-size: 13px;
    }
/* services */

#services{
flex-direction:column;
}
/* client section */
/* contact section*/

#clients{
    flex-wrap:wrap;

}
#clients img{
    width: 66px;
    padding: 2px 6px;
    
}
 /* footer */
 /* utility classes */
 .primary{
font-size :61px;

 }
 .btn{
     font-size:13px;
     padding:4px 8px;
 }