/* css reset */
*{
    margin:0px;
    padding:0px;

}
html{
    scroll-behavior:smooth;
}
/* Css variables */
:root{
    --navbar-height:59px;
}
/* Navigation bar */
#navbar{
    font-family: 'Baloo Bhai 2', cursive;
    display:flex;
    align-items:center;
    /* justify-content:center; */
position:sticky;
top:0px;
}
/* navigation bar: logo and image */
#logo{
MARGIN: 12px 28PX;
}
#logo img{
    height:83px;
    margin: 2px;


}
/* navigation bar:list styling */

#navbar ul{
    display:flex;

}
#navbar::before{
    content:"";
    background-color:black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-1;
opacity:0.2;
}
#navbar ul li{
    
    list-style:none;
    font: size 1.3rem;
}
#navbar ul li a{
    color:white;
    display:block;
    padding:3px 22px;
    border: radius 23px;
    text-decoration:none;
 font-size:32px;  
}
#navbar ul li a:hover{
    color:black;
    background-color:white;
    display:block;
    padding:3px 22px;
    border: radius 23px;
    text-decoration:none;
   
}
/* Home section */
#home{
   
 height: 410px;
    display:flex;
    flex-direction:column;
    padding:3px 200px;
    justify-content:center;
    align-items:center;
}
#home:before{
    content:"";
    background:url('../bg1.jpg') no-repeat center center/cover;
    position:absolute;
    height:74%;
    width:100%;
    top:0px;
    left:0px;
    z-index:-1;
opacity:0.89; 
}
#home h1{
    color:white;
    text-align:center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    text-align:center;
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}
/* Services section */
#services{
margin: 34px;
display:flex;

}

#services .box{
   
   background-color: #e9d2ff;
    border: 2px solid brown;
     padding: 16px;
    margin: 2px 9px;
    border-radius: 50px;
}

#services .box img{
    height:160px;
    display:block;
    margin:auto;
}

#services .box p{
    font-family:'bree serif',serif;
}

/* client section */
#client-section{

position:relative;
}

#clients{
    display:flex;
    justify-content:center;
    align-items:center;
}
#clients img{
height: 92px;

}
#client-section::before{
content:"";
position:absolute;
background: url('../bg.jpg');
width:100%;
height:100%;
z-index:-1;
opacity:0.4;
}
.client-item{
    padding:10px;

}
/* contact section */
#contact{
    position:relative;
}
#contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.7;
    background:url('../contact.jpg') no-repeat center center/cover;
    
}
footer{
    background-color:black;
    color:white;
    padding:9px 20px;

}
#contact-box{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom: 34px;
}
#contact-box form{
    width:45%;

}
#contact-box label{
    font-size: 3.8rem;
    font-family:'bree serif',serif;


}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
border-radius :15px;
font-size :1.1rem;
}

/* utility classes */
.h-secondry{
    font-family: 'Bree Serif', serif;
font-size:2.3rem;
padding: 12px;
}

.primary{
    font-family: 'Bree Serif', serif;
font-size: 3.8rem;
padding: 12px;

}
.center{
text-align:center;
}
.btn{
    padding: 6px 12px;
border:2px solid white;
background-color:brown;
color:white;
margin: 17px;
font-size :1.5rem;
border-radius: 15px;
cursor:pointer;
}